dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

*.bak

*.hi
*.o
*.yuv
*.y
*.x
*.bak
*.aux
*#
#*

# applications
unzip
map
transpose
visual*
sobel*
max-then*
dwt*
1d*
2d*
hist*
brighten*
iunzipFilter2D
threshold-max

# others
ErrM.hs
RIPL.tex
RIPL.pdf
AbsRIPL*
src/Makefile
SkelRIPL.*
TestRIPL
TestRIPL*
DocRIPL.*
*.log
.stack-work
Lex*
Par*
Print*


_site/